/*КОНТЕНТ*/

.wrapper-search {
    margin-top: 10rem;
}

.form {
    margin-left: 25%;
    width: 50%;
}

input.search {
    border: 10px solid #f7f7f7;
    width: 100%;
    position: relative;
    border-radius: 4px;
    font-size: 20px;
    box-shadow: 0 0 5px #404040, inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.options {
    width: 50%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.options li {
    background: white;
    list-style: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    margin: 0;
    padding: 18px;
    text-transform: capitalize;

}

.options a {
    text-decoration: none;
    color: #838383;
}

.options li:hover {
    background: #47d583;
    color: #fff;
}


.content {
    padding: 0 10%;
    min-height: calc(100vh - 10rem);
}

.content a {
    text-decoration: none;
}
/*заголовки*/

h1 {
    text-align: center;
    margin-top: 10rem;
    margin-left: 3rem;
    font-family: Circe, sans-serif;
    font-size: 3rem;
}
h2 {
    text-align: center;
    font: 2rem Circe;
    font-weight: bold;
}

/*карточки меню*/
.carts-type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.cart {
    border: 3px solid #008000;
    margin-bottom: 2rem;
}

.img-cart img {
    height: 12rem;
    width: 12rem;
    margin: 1rem 3rem;
    object-fit: cover;
}

/*подписи внизу*/
.cart p, .cart a {
    margin: 1.2rem 0.8rem;
    vertical-align: middle;
}

.cart p {
    font: 1.8rem Circe;
    margin-left: 3rem;
}


.cart .price {
    font-weight: bold;
}


