<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${product.name}"></title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css">
</head>
<body>

<header>
    <input type="checkbox" name="" id="toggler">
    <label for="toggler" class="fas fa-bars"></label>

    <a th:href="@{/index}" class="logo">HardwareStore</a>
    <div class="menu" >
        <div class="icons">
            <a class="fas fa-user" th:text="${name}"></a>
            <a th:href="@{/profile/cart-product}" class="fas fa-shopping-cart"></a>
        </div>
        <div class = "Exit">
            <form th:action="@{/auth/login}">
                <input  class="butt" sec:authorize="isAnonymous()" type="submit" value="Войти">
            </form>
            <form th:method="POST" th:action="@{/logout}">
                <input class="butt" sec:authorize="isAuthenticated()" type="submit" value="Выйти">
            </form>
        </div>
    </div>

</header>

<div class="wrapper">
    <div class="content">
        <h2 th:text="${product.name}"></h2>
        <div class="info">
            <div class="one">
                <img class="img-head" th:src="@{'/image/' + ${product.image}}"  alt="">
            </div>
            <div class="two">
                <p class="margin label">Цена</p>
                <span class="info-label" id="bold" th:text="${product.price} + ' руб'"></span>
            </div>
            <form th:action="@{'addToCart/' + ${product.id}}">
                <input  class="butt" type="submit" value="Добавить в корзину">
            </form>
        </div>
    </div>
    <div class="content2">
        <form id="myForm" th:action="@{/addReviews/{id}(id = ${product.id})}" th:object="${rev}" method="post">
            <label for="review" th:text="'Оставить свой отзыв на данный товар: '"> </label>
            <input type="text" th:field="*{description}" id="review">
            <input type="submit" value="Отправить" >
        </form>
        <!--<form id="myForm" th:action="@{/addReviews/{id}(id = ${product.id})}" th:method="POST" th:object="${rev}">

            <label for="review" th:text="'Оставить свой отзыв на данный товар пользователю: '"> </label>
            <input type="text" th:field="*{description}" id="review">
            <button type="button" onclick="sendRequest()">Отправить</button>
        </form>

        <script>
            function sendRequest() {
                var form = document.getElementById("myForm");
                var formData = new FormData(form);

                var xhr = new XMLHttpRequest();
                xhr.open("POST", form.action, true);

                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                        console.log("ok")
                    }
                };

                xhr.send(formData);
            }
        </script>-->
        <div class="container">
            <div class="rowrow" th:each="rev : ${reviews}">

                <div class="list-group">
                    <span class="a">Автор:</span>
                    <span class="b" th:text="${rev.person.username}"></span>
                </div>
                <div class="list-group">
                    <span class="a">Дата:</span>
                    <span class="b" th:text="${rev.date}"></span>
                </div>
                <div class="list-group">
                    <span class="a">Отзыв:</span>
                    <span class="b" th:text="${rev.description}"></span>
                </div>





            </div>
        </div>

    </div>

</div>

<footer class="footer-distributed">

    <div class="footer-right">


        <a href="https://vk.com/ildarqw"><i class="fa fa-vk"></i></a>
        <a href="https://instagram.com/nufffff"><i class="fa fa-instagram"></i></a>
        <a href="https://github.com/nufffff"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>

    </div>
    <p class="copy">HardwareStore &copy; 2022</p>
    </div>

</footer>
</body>
</html>